<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查询</title>

    <style>
        .flex-warp {
            display: flex;
        }
    </style>
    <link rel="stylesheet" href="css/layui.css"  media="all">
    <script src="layui.js" charset="utf-8"></script>
</head>
<body style="padding: 30px">
<form id="searchForm" action="/download" method="POST" enctype="application/x-www-form-urlencoded">
    <div class="flex-warp">
        <div class="layui-form-item">
            <label class="layui-form-label">主键</label>
            <div class="layui-input-block">
                <input type="text" name="idKey" id="idKey" lay-verify="title" autocomplete="off" placeholder="请输入主键" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">url</label>
            <div class="layui-input-block">
                <input type="text" name="url" id="url" lay-verify="title" autocomplete="off" placeholder="请输入URL" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="remark" id="remark" lay-verify="title" autocomplete="off" placeholder="请输入备注" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">字符串</label>
            <div class="layui-input-block">
                <input type="text" name="str" id="str" lay-verify="title" autocomplete="off" placeholder="请输入字符串" class="layui-input">
            </div>
        </div>

        <div class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">日期时间范围</label>
                    <div class="layui-input-inline">
                        <input style="width: 300px" class="layui-input" id="insertTime" type="text" placeholder=" - ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="pageSize" id="pageSize"  />
    <input type="hidden" name="pageNumber" id="pageNumber" />
    <button type="button" onclick="formSubmit()" class="layui-btn layui-btn-primary">下载</button>
    <button type="button" onclick="getPage()" class="layui-btn">查询</button>
</form>

<div>


    <div class="layui-form" id="table">
        <table class="layui-table" id="result">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>主键ID</th>
                <th>URL</th>
                <th>备注</th>
                <th>字符串</th>
                <th>时间</th>
            </tr>
            </thead>
        </table>
        <div id="demo7"></div>
        <input type="hidden" id="total"  />
        <input type="hidden" id="cache"  />
    </div>

</div>

<script src="jquery-1.11.0.min.js"></script>
<script type="text/javascript">

    $(function () {
        getPage();
    });



    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#insertTime'
            ,type: 'datetime'
            ,range: true
        });
    });

    function search() {
        var param = {}
        param.idKey = $("#idKey").val();
        param.url = $("#url").val();
        param.remark = $("#remark").val();
        param.str = $("#str").val();
        param.insertTime = $("#insertTime").val();
        param.pageNumber = $("#pageNumber").val();
        param.pageSize = $("#pageSize").val();
        var req = JSON.stringify(param);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/search",
            data:  req,
            beforeSend: function (request) {
                request.setRequestHeader("Content-type", "application/json");
            }, success: function (result) {
                if (result.result != '0000') {
                    alert(result.msg);
                    return;
                }
                $("#total").val(result.obj.total)
                var elStr = '<tbody>';
                $(".result").remove();
                $.each(result.obj.records, function (index, value) {
                    elStr += '<tr class="result"><td>' + value.idKey + '</td>';
                    elStr += '<td>' + value.url + '</td>';
                    elStr += '<td>' + value.remark + '</td>';
                    elStr += '<td>' + value.str + '</td>';
                    elStr += '<td>' + value.insertTime + '</td></tr>';
                })
                elStr += '</tbody>';
                $("#result").append($(elStr));
                $("#table").show();
            }
        });

    }


    function getPage() {
        var param = {}
        param.idKey = $("#idKey").val();
        param.url = $("#url").val();
        param.remark = $("#remark").val();
        param.str = $("#str").val();
        param.insertTime = $("#insertTime").val();
        var req = JSON.stringify(param);
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/search",
            data:  req,
            beforeSend: function (request) {
                request.setRequestHeader("Content-type", "application/json");
            }, success: function (result) {
                if (result.result != '0000') {
                    alert(result.msg);
                    return;
                }
                $("#total").val(result.obj.total)
                layui.use(['laypage', 'layer'], function() {
                    var laypage = layui.laypage
                        ,layer = layui.layer;
                    //完整功能
                    laypage.render({
                        elem: 'demo7'
                        , count: result.obj.total
                        , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                        , limits: [100, 200, 300,400,500]
                        , limit: 100
                        , jump: function (obj) {
                            var cur = $("#pageNumber")
                            var lim = $("#pageSize")
                            if (cur.val() == obj.curr && lim.val() == obj.limit && $("#req").val() == req) {
                                return
                            }
                            lim.val(obj.limit);
                            cur.val(obj.curr);
                            $("#req").val(req);
                            search()
                        }
                    });
                });
            }
        });
    }



    function formSubmit() {
        $("#searchForm").submit();
    }



</script>
</body>
</html>
